DATABASE_URL=your_database_url_here
NEXT_PUBLIC_CLOUDINARY_URL=your_cloudinary_url_here
NEXT_PUBLIC_API_URL=your_api_url_here
NEXT_PUBLIC_AUTH_SECRET=your_auth_secret_here
NEXT_PUBLIC_ADMIN_EMAIL=your_admin_email_here
NEXT_PUBLIC_ADMIN_PASSWORD=your_admin_password_here